<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="clientes">
                <i class="bi bi-grid"></i>
                <span>Administrar clientes</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#clientes-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Clientes</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="clientes-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a routerLink="clientes/lista-solicitudes">
                        <i class="bi bi-circle"></i><span>Ver solicitudes</span>
                    </a>
                </li>
                <li>
                    <a routerLink="clientes/registrar-solicitud">
                        <i class="bi bi-circle"></i><span>Registrar solicitud</span>
                    </a>
                </li>
            </ul>
        </li>


    </ul>

</aside>
