<div class="pagetitle">
    <h1>Solicitudes</h1>
</div>
<div class="row">
    <div class="col">

        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#Id</th>
                            <th scope="col">Mascota</th>
                            <th scope="col">Fecha solicitud</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        <ng-container *ngFor="let item of listaSolicitudes">
                            <tr>
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.mascotaId}}</td>
                                <td>{{item.fechaSolicitud}}</td>
                                <td>{{item.estado}}</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm"
                                        (click)="cancelarSolicitud(item.id)"><i class="bi bi-exclamation-triangle"></i>
                                        Cancelar</button> &nbsp;
                                    <button type="button" class="btn btn-info btn-sm"><i
                                            class="bi bi-cloud-download-fill"></i> Contrato</button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>